
DerivativeAttributesActivity/.vs/DerivativeAttributesActivity/v15/.suo
DerivativeAttributesActivity/.vs/DerivativeAttributesActivity/v15/Server/sqlite3/db.lock
DerivativeAttributesActivity/.vs/DerivativeAttributesActivity/v15/Server/sqlite3/storage.ide
DerivativeAttributesActivity/.vs/DerivativeAttributesActivity/v15/Server/sqlite3/storage.ide-shm
DerivativeAttributesActivity/.vs/DerivativeAttributesActivity/v15/Server/sqlite3/storage.ide-wal
DerivativeAttributesActivity/DerivativeAttributesActivity/obj/Debug/DerivativeAttributesActivity.csproj.FileListAbsolute.txt
DerivativeAttributesActivity/DerivativeAttributesActivity/obj/Debug/DerivativeAttributesActivity.csprojResolveAssemblyReference.cache
*.cache
DerivativeAttributesActivity/.vs/DerivativeAttributesActivity/DesignTimeBuild/.dtbcache
